name: Build KernelSU Next
on:
  workflow_dispatch:
    inputs:
      KERNEL_VERSION:
        description: "内核版本"
        required: true
        default: 'common-android15-6.6-2025-02'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install repo tool
        run: |
         curl https://storage.googleapis.com/git-repo-downloads/repo > ~/repo
         chmod a+x ~/repo
         sudo mv ~/repo /usr/local/bin/repo

      - name: Setup kernel source
        run: |
          echo "Free space:"
          df -h
          # wget https://android.googlesource.com/kernel/manifest/+/refs/heads/${{ inputs.KERNEL_VERSION }}/default.xml
          # repo init --depth=1 -u https://android.googlesource.com/kernel/manifest -m default.xml
          repo init --depth=1 -u https://android.googlesource.com/kernel/manifest -b ${{ inputs.KERNEL_VERSION }}
          repo --version
          repo --trace sync -c -j$(nproc --all) --no-tags
          df -h

      - name: Setup KernelSU-Next
        run: |
          curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -
          mkdir target
          mkdir target/logs
          sed -i 's/-DKSU_VERSION=11998/-DKSU_VERSION=12816/g' KernelSU-Next/kernel/Makefile

      - name: Enable KernelSU config
        run: |
          set -e
          CONFIG_FILE=""
          if [ -f common/build.config.gki ]; then
            CONFIG_FILE=common/build.config.gki
          elif [ -f build.config.gki ]; then
            CONFIG_FILE=build.config.gki
          else
            echo "build.config.gki not found"
            exit 1
          fi

          # Disable defconfig check and apply KSU options after defconfig
          sed -i '/POST_DEFCONFIG_CMDS="check_defconfig"/d' "$CONFIG_FILE"
          sed -i '/^POST_DEFCONFIG_CMDS=/d' "$CONFIG_FILE"
          printf '%s\n' 'POST_DEFCONFIG_CMDS="${KERNEL_DIR}/scripts/config --file ${OUT_DIR}/.config -e KPROBES -e KSU -e KSU_DEBUG; make -C ${KERNEL_DIR} ${TOOL_ARGS} O=${OUT_DIR} olddefconfig"' >> "$CONFIG_FILE"

      - name: Build kernel
        run: |
          ./tools/bazel run --verbose_failures --jobs=$(nproc --all) --make_jobs=$(nproc --all) --config=android_ci --profile=target/logs/command.profile.json //common-modules/virtual-device:virtual_device_x86_64_dist -- --dist_dir=target --flat

      - name: Upload Kernel
        uses: actions/upload-artifact@v4
        with:
          name: kernel-avd-${{ inputs.KERNEL_VERSION }}
          path: "target/bzImage"
